/* Estilos para la Tabla de Notas */
.tabla-notas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-notas th {
    background-color: #00338d;
    color: white;
    padding: 12px;
    border: 1px solid #ddd;
}

.tabla-notas td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.nombre-alumno {
    text-align: left !important;
    font-weight: bold;
}

/* Estilo para los cuadros donde escriben los profes */
.input-nota {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.promedio {
    font-weight: bold;
    color: #00338d;
}

.btn-guardar {
    margin-top: 20px;
    background-color: #28a745; /* Verde para guardar */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-guardar:hover {
    background-color: #218838;
}